{% extends "pdf/base_base.html" %}
{%block cv%}
        
        <table class="table">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">view CV</th>
                <th scope="col">edit CV</th>
                <th scope="col">downalod CV</th>
                <th scope="col">Delete CV</th>
              </tr>
          
            {% for i in all_data%}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td><a class="btn btn-primary" href="{% url 'cv:view' i.id %}">view</a></td>
                <td><a class="btn btn-primary" href="#">edit</a></td>
                <td><a class="btn btn-primary" href="{% url 'cv:resume' i.id %}">downlaod</a></td>
                <td><a class="btn btn-primary" href="{% url 'cv:delete' i.id %}">Delete</a></td>
              </tr>
              {% endfor %}
          </table>
{%endblock%}