{% extends "pdf/base_base.html" %}
{%block cv%}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Your Website!</h1>
        <p class="lead">Explore the amazing features we offer.</p>
        <hr class="my-4">
        <p>Start your journey and make the most of our platform.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">demo button</a>
    </div>

    <!-- Features Section -->
    <div class="row mt-5">
        <div class="col-md-4">
            <h2>Feature 1</h2>
            <p>This is power of Simplicity and make it easy to make a resume or Cv quickly</p>
        </div>
        <div class="col-md-4">
            <h2>Feature 2</h2>
            <p>choose different style and colour downlaod free</p>
        </div>
        <div class="col-md-4">
            <h2>Feature 3</h2>
            <p>open source any one can contribute and customize as they want</p>
        </div>
    </div>

    <!-- Testimonials Section -->
    

{%endblock%}